@import "tailwindcss";

@theme {
  
  --color-brand-primary: var(--color-primary);
  --color-ui-background: var(--color-background);
  --color-ui-surface: var(--color-surface);
  --color-ui-border: var(--color-border);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  --color-status-error: var(--color-error);
  --color-status-success: var(--color-success);
  

  --font-lato: var(--font-lato);
}

:root {
 
  --color-primary: #1570EF;
  --color-background: #F5F6FA;
  --color-surface: #FFFFFF;
  --color-border: #E7E7E7;
  --color-text-main: #000000;
  --color-text-muted: rgba(0, 0, 0, 0.7);
  --color-error: #ED1919;
  --color-success: #079455;
  
 
}

body {
 
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-lato);
}